
.mainPage{
    position: relative;
    width:100vw;
    height: 88vh;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3) ), url('../../assets/images/food.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
  }
  
  
  .mainPageContent{
    display: grid;
    grid-template-rows: auto auto ;
    grid-template-columns: auto ;
    /* border: solid black 2px; */
  }
  
  
  .mainPageName{
    display: flex;
    justify-content: center;
    font-size: 11vw;
    margin-left: 20px;
    /* background-color: blue; */
    font-family: "Peaches And Cream";
  }
  
  .mainPageText{
    margin-left: 40px;
    display: flex;
    justify-content:center;
    font-size: 3.5vw;
    /* background-color: violet; */
  }
  
  .mainPageContent > div {
    color: #ffffff;
  }

  .menu{
    display: flex;
    justify-content: center;
    /* border: solid black 2px; */
  }
  
  .menu > button{
    font-size: 1.2vw;
    font-family: Geogia;
    margin-left: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #ffffff;
    background-color: transparent;
    border:solid 1px white;
    cursor: pointer;
    
  }

  .menu >button:hover{
    color:#5F0038;
    background-color: white;
    opacity: 1  ;
    border-radius: 20px;
  }

  @media only screen and (max-width:500px){

    .mainPage{
      width:100vw;
    }
    .mainPageName{
      /* font-size:30vw; */
      display: none;
    }

    .mainPageText{
      font-size:13vw; 
      font-family: 'Times New Roman', Times, serif;
      /* display: flex;
      justify-content: center; */
    }

    .menu{
      display: grid;
    }

    .menu>button{
      width:80vw;
      font-size:5vw;
      margin:1vw;
    }
  }