

.navbar {
    width:100vw;
    height:12vh;
    background-color:white;
    display:flex;
    align-items: center;
    /* position: sticky; */
  }
  
  .appName {
    width:17vw;
    text-align: center;
    /* border:solid #5f105f 2px; */
    font-size:5vw;
    font-family: "Peaches And Cream";
  }
  
  .navLinks{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    padding: 5em;
    padding-right:4em;
    font-size:1vw;
    font-family: Helvetica;
    width:58vw;
    /* border:solid #5F0038 2px;  */
  }
   
  .navLinks > a:hover{
    /* font-size:1vw; */
    text-decoration: underline;
  }
  .login{
    width: 25vw;
    /* margin-left:20px;  */
    /* justify-content: center; */
    /* border:solid blue 2px; */
    display:flex;
  }
/*   
  .username, .password{
    font-size:13px;
    width:140px;
    margin-top:2em;
    margin-left: 1em;
  } */

  .searchBar{
    /* padding-left: 0px; */
    font-size:1vw;
    /* border: solid 1px black; */
    width:10vw;
    /* margin-top:10%; */
    /* height: 2vh; */
  }
  
  .searchBox{
    width: 8vw;
    /* height: 100%; */
    /* height: 1vw; */
  }
  .signUpButton{
    margin-left:1em;
    color: #5F0038;
    font-size: 0.8vw;
    padding-left:0.6em;
    padding-right: 0.6em;
    padding-top: 0.3em;
    padding-bottom: 0.3em; 
    background: #ffffff;
    cursor: pointer;
    font-family: Georgia;

  }

  .signUpButton:hover{
    color:white;
    background-color:#5F0038; 
  }
  

  .signInButton{
    margin-left:1em;
    color: #5F0038;
    font-size: 0.9vw;
    padding-left:0.6em;
    padding-right: 0.6em;
    padding-top: 0.3em;
    padding-bottom: 0.3em; 
    background: #ffffff;
    cursor: pointer;
    font-family: Georgia;
    border:none;
  }

  .signInButton:hover{
    text-decoration: underline; 
  }

  .navbar > div > a{
    color: #5F0038;
  }
  
  .signUp{
    margin-left:0.8em;
    margin-top:0.3em;
    color:#5F0038;
  }
  
  .signUp:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  

  @media only screen and (max-width:768px){

    .navbar{
      /* background-color: pink; */
      display: flex;
      justify-content: center;
      display: grid;
      height: 35vh;         
    }

    .appName{
      font-size: 15vw;
      width:100vw;
      /* float: left; */
      /* background-color: #5F0038;  */
    }
    .navLinks{
      display: none;
      background-color: blue
    }

    .searchBar{
      /* border:1px solid black; */
      width:100vw;
      display: flex;
      justify-content: center;
      align-items:center; 
    }
    .searchBar>input{
      width:60vw;  
    }

    .login{
      /* float: right; */
      width:100vw;
      display: flex;
      justify-content: center;
      align-items:center; 
      /* background-color: aqua; */
    }

    .login>form{
      display: grid;
      grid-template-rows: 1fr 1fr;    
    }
    
    .signInButton{
      font-size:4vw;
      margin: 1vw;
      /* margin-right: 3vw; */
    }

    .signUpButton{
      font-size:3vw;
      margin:1vw;
    }
  }