

.navbar {
    width:100vw;
    height:12vh;
    background-color: white;
    display:flex;
    align-items: center;
    /* position: sticky; */
  }
  
  .appName {
    width:17vw;
    text-align: center;
    /* border:solid #5f105f 2px; */
    font-size:80px;
    font-family: "Peaches And Cream";
  }
  
  .navLinks{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    padding: 5em;
    padding-right:4em;
    font-size:16px;
    font-family: Helvetica;
    /* border:solid #5F0038 2px;  */
  }
   
  .navLinks > a:hover{
    font-size:15px;
  }
  .login{
    width: 25vw;
    margin-left:20px;
    /* justify-content: center; */
    /* border:solid blue 2px; */
    display:flex;
  }
/*   
  .username, .password{
    font-size:13px;
    width:140px;
    margin-top:2em;
    margin-left: 1em;
  } */

  .searchBar{
    padding-left: 0px;
    font-size:22px;
    /* border: solid 1px black; */
    /* width:50%; */
  }
  
  .searchBox{
    width:17em;
    height: 2em;
  }
  .signUpButton{
    margin-left:1em;
    color: #5F0038;
    font-size: 16px;
    padding-left:0.6em;
    padding-right: 0.6em;
    padding-top: 0.3em;
    padding-bottom: 0.3em; 
    background: #ffffff;
    cursor: pointer;
    font-family: Georgia;

  }

  .signUpButton:hover{
    color:white;
    background-color:#5F0038; 
  }
  

  .signInButton{
    margin-left:1em;
    color: #5F0038;
    font-size: 16px;
    padding-left:0.6em;
    padding-right: 0.6em;
    padding-top: 0.3em;
    padding-bottom: 0.3em; 
    background: #ffffff;
    cursor: pointer;
    font-family: Georgia;
    border:none;
  }

  .signInButton:hover{
    text-decoration: underline; 
  }

  .navbar > div > a{
    color: #5F0038;
  }
  
  .signUp{
    margin-left:0.8em;
    margin-top:0.3em;
    color:#5F0038;
  }
  
  .signUp:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  