
footer {
    position: relative;
    width: 100vw;
    height: 30vh;
  }
  

.footerDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #A29160;
  }

  .linksBlock {
    display: grid;
    grid-template-columns: 1.5fr 0.8fr 1fr 1.8fr;
    grid-template-rows: auto;
    padding-top:1em;
  }
  
  .linksBlock > div {
    display: grid;
  }
  
  .linksBlock > div > a {
    font-size: 1vw;
    cursor: pointer;
    color: white;
    padding: 10px 0;
  }

  .linksBlock > div > a:hover{
      text-decoration: underline;
  }
  
  .COMPANY {
    justify-content: flex-end;
  }
  
  .INFO {

    justify-content: center;
  }
  
  .BENEFITS {
    justify-content: center;
  }
  
  .BLOG {
    justify-content: flex-start;
  }

#company, #links, #benefits ,#blogs{
  text-decoration: none;
  cursor: default;
}
  

@media only screen and (max-width:500px){

  .COMPANY>a{
    display: none;
  }

  .INFO{
    /* background-color: black; */
    font-size: 20vw;
  
  }

  .linksBlock>.INFO>a{
    float: left;
    justify-content: flex-start;
    font-size: 5vw;
    /* margin: 2vw; */
    /* background-color: brown;  */
  }

  .BENEFITS{
    width:50vw;
  }
  .linksBlock>.BENEFITS>a{
    float: right;
    margin-left:10vw;
    justify-content: flex-end;
    font-size:4vw;
  }

  .BLOG>a{
    display: none;
  }
} 