@font-face{
  font-family: "Peaches And Cream";
  src: url('./assets/font/PeachesandCreamRegularW00.ttf');
}

html,body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

a {
  color: black;
  text-decoration: none;
}


.bg-modal{
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.modalContentLogin{
  width:28vw;
  height:55vh;
  background-color: white;
  text-align: center;
  position: relative;
  padding:20px;
  padding-top:40px;
}

.close{
  position: absolute;
  top:0;
  right:1vw;
  font-size:2vw;
  transform: rotate(45deg);
  cursor: pointer;
  display: inline;
}


.modalContentLogin > a,.modalContentSignup > a{
  font-family: Peaches And Cream;
  font-size:5vw;
  /* height: 100vh; */
  /* padding:0.5vw; */
  color: #5F0038;
  /* border:black 1px solid; */
}


.modalContentLogin >form > input{
  width:90%;
  height: 5vh;
  display: inline-block;
  border:1px solid #ccc;
  box-sizing: border-box;
  margin:2vw auto;
  font-size:1.3vw;
  /* padding: 1vw 1.4vw; */
  position: relative;
}

.loginButton{
  background-color: #5F0038;
  height: 6vh;
  color: white;
  /* padding: 1vw 1vw;   */
  /* margin:0.8vw 2vw; */
  /* border:solid 1px black; */
  font-size:1vw;
  width: 90%;
  cursor: pointer;
  border-radius: 2vw;
}

button:hover{
  opacity: 0.8;
}

.check{
  position: absolute;
  left:0.6vw;
  margin: 1.5vw 2.2vw;
}

.rem{
  position: absolute;
  /* left:2.5vw;
  margin: 1.5vw 2.2vw; */
  font-size: 0.9vw;
}

.forgot{
  text-decoration: none;
  float: right;
  font-size:0.9vw;
  color: black;
  margin-right:2.2vw;
  margin-top:1.5vw;
}

.forgot:hover {
  text-decoration: underline;
} 


.modalContentSignup{
  width:30vw;
  height:87vh;
  background-color: white;
  text-align: center;
  position: relative;
  margin-top:0vh;
  padding:1.5vw;
  padding-top:2.5vw;
}

.signupForm > input{
  width:90%;
  display: block;
  border:1px solid #ccc;
  box-sizing: border-box;
  margin:1.5vw auto;
  font-size:1vw;
  padding: 1vw 1vw;
  position: relative;
}

.modalContentSignup > div > button {
  width:90%;
  display :block;
  border:1px solid black;
  box-sizing: border-box;
  font-size:1vw;
  margin:1vw auto;
  padding: 1vw 1.1vw;
  position:relative;
}

.signupForm{
  padding: 1vw; 
}

.or{
  font-size: 0.9vw;
}

.remforgot{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.fb{
  background-color: #3b5998;
  color: white;
}

/* .fblogo{
  background-image: './assets/images/fb.png';
} */

.google{
  background-color: white;
  color: black;
}

.fb:hover, .google:hover{
  cursor: pointer;
}



      /* RESPONSIVE */


@media only screen and (max-width:480px)  {
  .modalContentSignup{
    width: 70%;
    height:80%;
  }

  .modalContentLogin{
    width:70%;
    height:50%;
  }

  .modalContentLogin > a,.modalContentSignup > a{
    font-size:20vw;
    /* height: 100vh; */
    padding:10vw;
    color: #5F0038;
    /* border:black 1px solid; */
  }

  .close{
    font-size:8vw;
  }

  
  .signupForm > input{
    margin:5vw auto;
    font-size:4.5vw;
 
  }

  .loginButton{
    font-size: 5vw;
  }


.modalContentSignup > div > button {
  width:90%;
  display :block;
  box-sizing: border-box;
  font-size:4vw;
  margin:3vw auto;
  padding: 1vw 1.1vw;
  position:relative;
}

.or{
  font-size:4.5vw;
}

.modalContentLogin > a,.modalContentSignup > a{
  font-size:15vw;

}


.modalContentLogin >form > input{
  /* margin-left: 0; */
  font-size:6vw;
}

.check{
  margin:16vw 5vw;
}
.rem{
  /* position: absolute; */
  /* left:5vw;
  margin: 15.5vw 7vw; */
  font-size: 5vw;
}

.forgot{
  font-size:5vw;
  color: black;
  /* margin-right:2.2vw; */
  /* margin-top:1.5vw; */
}

}